/* normalize */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* preferences */
.title h1 {
  font-size: 36px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 38px;
}

.btn a,
.btn button {
  border: none;
  font-size: 18px;
  background: #bf2f2b;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  width: 324px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-bottom: 5px solid #a81b17;

  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.btn a:hover,
.btn button:hover {
  background: #9d2522;
}

.form-remained {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 13px;
}

.form-remained span {
  background: #fff;
  border-radius: 100px;
  font-size: 18px;
  color: #0b8228;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
}

/* popup content */
#popup-content {
  width: 890px;
  position: absolute;
  margin-left: -445px;
  left: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 45px 30px;
  bottom: -290px;
  border-radius: 8px;
}

.popup-content .form {
  text-align: center;
  background: #fff;
}

#popup-content .form-title {
  font-size: 22px;
  text-align: center;
}

#popup-content .form-subtitle {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

#popup-content .form-input,
.form-btn,
.form-remained {
  text-align: center;
}

#popup-content .form-input {
  position: relative;
}

#popup-content .form-input img {
  position: absolute;
  left: 85px;
  bottom: 22px;
}

#popup-content .popup-img {
  position: absolute;
  left: 30px;
  top: 85px;
}

#popup-content .popup-img img {
  width: 97.6%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* main-section */
.main-section {
  background: url(../img/main.jpeg) no-repeat 20% center/25%, #fdf3ec;
  padding-bottom: 50px;
}

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 6px;
}

.top-info-left,
.top-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.top-info-right .payment {
  background: url(../img/payment-icon.png) no-repeat left center;
  padding-left: 37px;
  margin-right: 53px;
}

.top-info-right .delivery {
  background: url(../img/delivery-icon.png) no-repeat left center;
  padding-left: 37px;
}

.top-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-info-left .gmo-product {
  width: 112px;
  height: 60px;
}

.main-title {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-title h1 {
  font-size: 48px;
  line-height: 48px;
}

.main-tables {
  margin-left: 36px;
}

.main-tables .main-table {
  background: url(../img/table-icon2.png) no-repeat center center;
}

.main-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 90px;
}

.main-subtitle li {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  padding: 5px 0;
  padding-left: 31px;
  background: url(../img/red-tick.png) no-repeat left center;
  margin-right: 18px;
}

.main-stock {
  margin-top: 30px;
}

.main-stock .sale {
  text-align: center;
  margin-right: 120px;
  margin-top: 49px;
  margin-left: -33px;
}

.main-stock .sale span {
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}

.main-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.form-title {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 900;
}

.form-subtitle {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
}

#form,
#lv-formLanding1 {
  text-align: center;
  position: relative;
}

.main-form .form-input {
  position: relative;
}

#form2 .input-phone,
#lv-formLanding2 .input-phone {
  position: absolute;
  left: 90px;
  bottom: 188px;
}

#form .input-phone,
#lv-formLanding1 .input-phone {
  position: absolute;
  left: 60px;
  bottom: 24px;
}

.form-input input,
select {
  height: 61px;
  width: 325px;
  border: 1px solid #b9352f;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  padding-left: 20px;
  margin-top: 23px;
  border-radius: 4px;
}


.form-arrow {
  position: absolute;
  left: -70px;
  top: 105px;
}

#form2 .form-arrow,
#lv-formLanding2 .form-arrow {
  left: -39px;
  top: 342px;
}

.miracle {
  margin-top: 90px;
}

.miracle-title h1 {
  background: url(../img/title-uzor1.png) no-repeat center center;
}

.miracle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}

.left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-item-img {
  margin-right: 17px;
}

.left-item_text {
  font-size: 19px;
  font-weight: 700;
}

.right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 51px;
  margin-bottom: 13px;
  padding: 9px 15px;
  border-radius: 5px;
}

.right-item_icon {
  margin-right: 14px;
}

.right-item_text {
  font-size: 16px;
  font-weight: 700;
}

/* possible section */
.possible-section {
  padding-top: 57px;
  padding-bottom: 40px;
  background: #fbeadc;
}

.possible-section .container {
  max-width: 1170px;
}

.possible-title {
  background: url(../img/title-uzor1.png) no-repeat center top;
}

.possible-title h1 {
  font-size: 35px;
}

.soil-wrapper {
  margin-bottom: 10px;
}

.soil-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.soil-item {
  text-align: center;
  width: 100%;
}

.possible-subtitle {
  text-align: center;
  margin-top: 26px;
}

.possible-subtitle p {
  font-size: 18px;
  font-weight: 900;
}

.soil-title {
  text-align: center;
}

.soil-title span {
  background: #51bf65;
  font-size: 24px;
  font-weight: 900;
  padding: 14px 27px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  margin-top: 38px;
  margin-bottom: 20px;
  border-radius: 8px;
  margin-right: 25px;
}

.soil-item_img {
  width: 355px;
  height: 250px;
  margin-bottom: 10px;
}

.soil-item_img img {
  width: 97%;
}

.soil-item_text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  max-width: 96%;
}

/* strawberry-section */
.strawberry-section {
  padding-top: 70px;
  background: url(../img/photo_24.jpg) no-repeat center center/25%, #fdf3ec;
  height: 885px;
  padding-bottom: 82px;
}

.strawberry-title h1 {
  background: url(../img/title-uzor3.png) no-repeat center center;
}

.comments-title h1 {
  background: url(../img/title-uzor4.png) no-repeat center center;
}

.strawberry-subtitle {
  text-align: center;
  margin-top: 47px;
  margin-bottom: 44px;
}

.strawberry-subtitle span {
  font-size: 24px;
  font-weight: 900;
}

.strawberry-subtitle p {
  font-size: 18px;
  font-weight: 400;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 5px;
}

.strawberry-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.strawberry-column {
  max-width: 300px;
}

.strawberry-column .strawberry-item {
  font-size: 18px;
  margin-bottom: 60px;
}

.strawberry-column .strawberry-item:last-child {
  margin-bottom: 0;
}

.strawberry-column .strawberry-item span {
  font-weight: 900;
}

.strawberry-column .strawberry-item p {
  font-weight: 400;
}

.strawberry-column1 {
  text-align: right;
}

.strawberry-column2 {
  text-align: left;
}

.strawberry-column2 span {
  font-weight: 900;
}

.strawberry-column2 p {
  font-weight: 400;
  max-width: 250px;
}

.strawberry-bottom-text {
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  margin-top: 75px;
}

.strawberry-column1 .strawberry-item {
  background: url(../img/left-small-bracket.png) no-repeat right 7px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.strawberry-column2 .strawberry-item {
  background: url(../img/right-small-bracket.png) no-repeat left 2px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.strawberry-bottom-btn {
  text-align: center;
}

.strawberry-bottom-btn .btn a {
  border: none;
  background: #bf2f2b;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  width: 324px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-bottom: 5px solid #a81b17;
  margin-top: 16px;
}

.comments-item:last-child .comments-item_text {
  margin-bottom: 91px;
}

/* comments-section */
.comments-section {
  padding-top: 74px;
  padding-bottom: 110px;
  background: #fbeadc;
}

.comments-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 95px;
}

.comments-item {
  position: relative;
  background: #fff;
  text-align: center;
  max-width: 353px;
  padding: 170px 26px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.comments-item_img {
  position: absolute;
  width: 165px;
  height: 170px;
  left: 50%;
  margin-left: -84px;
  top: -22px;
}

.comments-item_text {
  font-weight: 400;
  font-size: 16px;
}

.comments-item_text p {
  margin-bottom: 25px;
  line-height: 22px;
}

.comments-item_name {
  font-size: 18px;
  font-weight: 900;
  margin-top: auto;
}

.last-form form {
  background: white;
  padding: 0px 30px;
  padding-top: 33px;
  padding-bottom: 36px;
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.photo_с {
  width: 150px; /* Фиксированная ширина */
  height: 100px; /* Фиксированная высота */
}

/* last-section */
.last-section {
  padding-top: 20px;
  background: url(../img/photo_55.png) no-repeat 20% center/25%, url(../img/bg.png) no-repeat center center/cover;
  padding-bottom: 35px;
  position: relative;
  height: 838px;
}

.last-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.last-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.last-title span {
  background: #0b8228;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  padding: 0 8px;
  color: #fff;
  margin-bottom: 5px;
  max-height: 52px;
  line-height: 52px;
}

#form2 {
  text-align: center;
  background: #fff;
  padding: 0 30px;
  padding-top: 33px;
  padding-bottom: 36px;
  width: 400px;
  border-radius: 20px;
  position: relative;
}

#form2 .form-title,
#lv-formLanding2 .form-title {
  color: #51bf65;
}

.last-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
}

.last-subtitle li {
  font-size: 20px;
  color: #fff;
  padding-left: 26px;
  background: url(../img/white-tick.png) no-repeat left center;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 900;
}

.last-subtitle li:last-child {
  margin-right: 0;
}

.last-bottom-text p {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  background: url(../img/prize-icon.png) no-repeat left center;
  padding: 10px 0;
  padding-left: 60px;
  max-width: 610px;
  text-align: left;
  color: #fff;
  margin: 0 auto;
  margin-top: 35px;
}

.old-price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.old-price span {
  font-size: 18px !important;
  font-weight: 400 !important;
  position: relative;
}

.old-price span:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #000;
  left: 0;
  bottom: 11px;
}

.new-price {
  font-size: 30px;
  color: #bf2f2b;
  font-weight: 900;
}

.new-price span {
  font-size: 60px !important;
}

.form-trigger {
  font-weight: 900;
  font-size: 36px;
  margin-top: 26px;
  line-height: 36px;
}

.last-tables {
  position: absolute;
  left: 50%;
  margin-left: -112px;
  top: 300px;
}

.last-table {
  background: url(../img/table-icon.png) no-repeat center center;
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 16px;
  height: 52px;
  width: 224px;
  line-height: 15px;
  padding: 11px 0 9px;
  padding-left: 50px;
  text-transform: uppercase;
}

/* footer */
footer {
  height: 125px;
  background: url(../img/footer-bg.jpg) no-repeat center center/cover;
  padding: 30px 0;
  color: #fff;
}

.roots-text {
  font-size: 13px;
  font-family: 'Roboto-regular';
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

footer .top-info-right .payment {
  background: url(../img/payment-icon2.png) no-repeat left center;
}

footer .top-info-right .delivery {
  background: url(../img/delivery-icon2.png) no-repeat left center;
}

footer .top-info-right {
  text-transform: none;
}


.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.item .item-title {
  width: 100%;
  font-size: 21px;
  font-weight: 900;
}

.item .item-div {
  width: 100%;
}

.item p {
  margin-top: 10px;
  font-weight: 400;
  width: 100%;
}

.item span {
  display: block;
  font-weight: 800;
  margin: 15px auto;
  max-width: 380px;
}

.item img {
  width: 100%;
  max-width: 91px;
  -o-object-fit: contain;
  object-fit: contain;
}

.item .tech-img {
  max-width: 80px;
}


.mushrooms {
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mushrooms__image {
  margin-bottom: 5px;
  display: block;
  max-width: 200px;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0 auto;
}

.mushrooms__image:hover {
  transform: scale(1.1);
}

@media (max-width: 1180px) {
  .mushrooms {
    justify-content: center;
  }
}


.cpu{
  padding: 10px 0;
  text-align: center;
  }
  .cpu img{
  display:block;
  margin: 0 auto;
  }
  .cpu a{
  display: inline-block;
  margin: 5px;
  color: #333;
  font-size: 14px;
  }