.pp-box {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fdf3ec;
}

.privacy-policy {
  margin: 0 auto;
  text-decoration: none;
  padding: 30px 0;
  font-size: 25px;
  color: #aaa;
  transition: 0.5s all;
}

.privacy-policy:hover {
  color: #a12;
}